* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
}

.navbar {
    display: flex;
    background-color: #EA5B6F;
}

.navbar a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #FF894F;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #FFCB61;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: #77BEF0;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #EA5B6F;
}

@media  screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}